body {
    margin: 0;
    padding: 0;
    height: 4000px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('Mountain.jpg');
    background-attachment: fixed;
}