body {
    margin: 0;
    padding: 0;

}

.bg {
    position: relative;
    background: #00fdff url('background.png');
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 15s linear infinite;
}

.car {
    position: absolute;
    bottom: 10px;
    left: 90px;    
    transform: scale(2) rotateY(180deg);
    
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}